@font-face {
    font-family: 'SansitaOneRegular';
    src: url('font/sansitaone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: SansitaOneRegular;
  font-size: 18px;
  color:  #fff;
  background-color: #444;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#boardBackgroundGradient stop.begin {
  stop-color: #333;
}

#boardBackgroundGradient stop.end {
  stop-color: #111;
}

#boardBackground {
  border: 0;
}

#topbarGradient stop.begin {
  stop-color: #555;
}

#topbarGradient stop.end {
  stop-color: #333;
}

#title {
  font-size: 34px;
  text-anchor: end;
  fill: #fff;
  stroke-width: 0;
}

.scoreLabel, .levelLabel, .livesLabel {
  text-anchor: end;
  fill: #ccc;
  stroke-width: 0;
}

.score, .level, .lives {
  fill: #eee;
  stroke-width: 0;
}

#playable.dragged {
  opacity: 0.8;
}

#gameOverBackground, #pauseBackground {
  opacity: 0.7;
}

#main .title {
  font-size: 96px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}

#gameOver .title, #pause .title {
  font-size: 48px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}

#gameOver .score {
  font-size: 34px;
  fill: #eee;
  text-anchor: middle;
}

.start text, .tutorial text, .about text, .resume text, .restart text, .fullscreen text, .playagain text, .exit text {
  font-size: 18px;
  text-anchor: middle;
  fill: #333;
  stroke-width: 0;
}

.button {
  fill: #ddd;
  stroke-width: 3;
  stroke: #666;
}

.step rect, .step path {
  fill: #aaa;
  fill-opacity: 1;
  stroke-width: 0;
  stroke: #aaa;
}

.step text {
  font-weight: normal;
  fill: #333;
}