@font-face {
  font-family: 'SansitaOneRegular';
  src: url('font/sansitaone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: SansitaOneRegular;
  font-size: 18px;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #444444;
  background-image: -moz-linear-gradient(top, #555555, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#333333));
  background-image: -webkit-linear-gradient(top, #555555, #333333);
  background-image: -o-linear-gradient(top, #555555, #333333);
  background-image: linear-gradient(to bottom, #555555, #333333);
  background-repeat: repeat-x;
}
#board {
  stroke-width: 0;
}
#playzoneGradient stop.begin {
  stop-color: #333;
}
#playzoneGradient stop.end {
  stop-color: #202020;
}
foreignObject html,
foreignObject body {
  background: none;
}
foreignObject button {
  width: 120px;
  height: 40px;
  font-family: SansitaOneRegular;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  padding: .5em 1em;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #444444, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#222222));
  background-image: -webkit-linear-gradient(top, #444444, #222222);
  background-image: -o-linear-gradient(top, #444444, #222222);
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-width: 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
foreignObject button:hover {
  background-color: #222222;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.pause foreignObject button {
  width: 32px;
  height: 32px;
  padding: 0;
}
.pause foreignObject button rect {
  fill: #fff;
}
#play .title,
#tutorial .title {
  font-size: 34px;
  text-anchor: end;
  fill: #fff;
  stroke-width: 0;
}
#play .scoreLabel,
#tutorial .scoreLabel,
#play .levelLabel,
#tutorial .levelLabel,
#play .livesLabel,
#tutorial .livesLabel {
  text-anchor: end;
  fill: #ccc;
  stroke-width: 0;
}
#play .score,
#tutorial .score,
#play .level,
#tutorial .level,
#play .lives,
#tutorial .lives {
  fill: #eee;
  stroke-width: 0;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
#play .score.changeDown,
#tutorial .score.changeDown,
#play .level.changeDown,
#tutorial .level.changeDown,
#play .lives.changeDown,
#tutorial .lives.changeDown {
  fill: #f00;
}
#play .score.changeUp,
#tutorial .score.changeUp,
#play .level.changeUp,
#tutorial .level.changeUp,
#play .lives.changeUp,
#tutorial .lives.changeUp {
  fill: #0f0;
}
.piece text {
  font-size: 16px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
#playable.dragged {
  opacity: 0.8;
}
#gameOverBackground,
#pauseBackground {
  opacity: 0.7;
}
#main .title {
  font-size: 96px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
#gameOver .title,
#pause .title {
  font-size: 48px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
#gameOver .score {
  font-size: 34px;
  fill: #eee;
  text-anchor: middle;
}
.copyright,
.website,
.version {
  font-family: verdana;
  font-size: 8px;
  fill: #777;
  stroke-width: 0;
}
.copyright {
  text-anchor: begin;
}
.website {
  text-anchor: middle;
}
.version {
  text-anchor: end;
}
.step rect,
.step path {
  fill: #aaa;
  fill-opacity: 1;
  stroke-width: 0;
  stroke: #aaa;
}
.step text {
  font-weight: normal;
  fill: #333;
}
