@font-face {
  font-family: 'SansitaOneRegular';
  src: url('font/sansitaone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  font-family: SansitaOneRegular;
  font-size: 18px;
  color: #fff;
  background-color: #444;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#boardBackgroundGradient stop.begin {
  stop-color: #333;
}
#boardBackgroundGradient stop.end {
  stop-color: #111;
}
#boardBackground {
  border: 0;
}
#topbarGradient stop.begin {
  stop-color: #555;
}
#topbarGradient stop.end {
  stop-color: #333;
}
#play .title,
#tutorial .title {
  font-size: 34px;
  text-anchor: end;
  fill: #fff;
  stroke-width: 0;
}
#play .scoreLabel,
#tutorial .scoreLabel,
#play .levelLabel,
#tutorial .levelLabel,
#play .livesLabel,
#tutorial .livesLabel {
  text-anchor: end;
  fill: #ccc;
  stroke-width: 0;
}
#play .score,
#tutorial .score,
#play .level,
#tutorial .level,
#play .lives,
#tutorial .lives {
  fill: #eee;
  stroke-width: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#play .score.changeDown,
#tutorial .score.changeDown,
#play .level.changeDown,
#tutorial .level.changeDown,
#play .lives.changeDown,
#tutorial .lives.changeDown {
  fill: #f00;
}
#play .score.changeUp,
#tutorial .score.changeUp,
#play .level.changeUp,
#tutorial .level.changeUp,
#play .lives.changeUp,
#tutorial .lives.changeUp {
  fill: #0f0;
}
.pauseButton {
  pointer-events: visible;
}
.pauseButton .fullarea {
  fill: #fff;
  opacity: 0;
  pointer-events: visible;
}
.pauseButton .icon {
  stroke-width: 0;
  fill: #fff;
  opacity: 0.7;
}
#playable.dragged {
  opacity: 0.8;
}
#gameOverBackground,
#pauseBackground {
  opacity: 0.7;
}
#main .title {
  font-size: 96px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
#gameOver .title,
#pause .title {
  font-size: 48px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
#gameOver .score {
  font-size: 34px;
  fill: #eee;
  text-anchor: middle;
}
.button {
  pointer-events: visible;
}
.button text {
  font-size: 18px;
  text-anchor: middle;
  fill: #333;
  stroke-width: 0;
}
.button rect {
  fill: #ddd;
  stroke-width: 3;
  stroke: #666;
}
.copyright {
  font-size: 10px;
  text-anchor: begin;
  fill: #888;
  stroke-width: 0;
}
.version {
  font-size: 10px;
  text-anchor: end;
  fill: #888;
  stroke-width: 0;
}
.step rect,
.step path {
  fill: #aaa;
  fill-opacity: 1;
  stroke-width: 0;
  stroke: #aaa;
}
.step text {
  font-weight: normal;
  fill: #333;
}
