/* ********************************************************************
 * About screen
 * ********************************************************************/

#about {
	.description {
		margin: 5vmin;
		font-size: 4vmin;

		a:link, a:visited {
			color: $colorBlueLight;
			text-decoration: underline;
		}
	}
}
