@font-face {
  font-family: "SansitaOneRegular";
  src: url("font/sansitaone-webfont.woff") format("woff"),
       url("font/sansitaone-webfont.svg#SansitaOneRegular") format("svg"); // only for Android
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: SansitaOneRegular;
  font-size: 18px;

  /* http://maximilianhoffmann.com/posts/better-font-rendering-on-osx */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #444;
  color:  #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#description {
  padding: 1em;

  h1 {
    font-size: 3em;
    text-align: center;
  }

  h2, p {
    font-family: sans-serif;
  }

  p.icon {
    text-align: center;
  }

  a:link, a:visited {
    color: #ccc;
  }

  a:hover, a:active {
    color: #fdd;
  }
}

#board {
  stroke-width: 0;
}

#play, #tutorial {
  .title {
    font-size: 34px;
    text-anchor: end;
  }

  .scoreLabel, .levelLabel, .livesLabel {
    text-anchor: end;
  }

  .score, .level, .lives {
    transition: all 1s ease-out;
  }
}

.pauseButton {
  pointer-events: visible;

  .fullarea {
    pointer-events: visible;
  }
}

.ball {
  text {
    font-size: 16px;
    text-anchor: middle;
  }
}

#playable {
  pointer-events: none;

  &:hover {
    cursor: pointer;
  }
}

.panelBackground {
  pointer-events: visible;
}

#main {
  .title {
    font-size: 96px;
    text-anchor: middle;
  }
}

#difficulty, #gameOver, #pause, #scores, #settings {
  .title {
    font-size: 48px;
    text-anchor: middle;
  }
}

#gameOver {
  .score {
    font-size: 34px;
    text-anchor: middle;
  }
}

#scores {
  .highscores {
    font-size: 18px;
    text-anchor: end;
  }
}

.button {
  pointer-events: visible;

  text {
    font-size: 18px;
    text-anchor: middle;
  }

  &:hover {
    cursor: pointer;
  }
}

.label {
  text-anchor: end;
}

.copyright, .website, .version {
  font-size: 10px;
}

.copyright {
  text-anchor: start;
}

.website {
  text-anchor: middle;
}

.version {
  text-anchor: end;
}

.step text {
  font-weight: normal;
}

#installButton {
  display: none;
}
