/* ********************************************************************
 * Some variables
 * ********************************************************************/

 @import 'colors';

/* ********************************************************************
 * Mandatory font face
 * ********************************************************************/

@font-face {
  font-family: "SansitaOneRegular";
  src: url("font/sansitaone-webfont.woff") format("woff"),
       url("font/sansitaone-webfont.svg#SansitaOneRegular") format("svg"); // only for Android
  font-weight: normal;
  font-style: normal;
}

/* ********************************************************************
 * Box sizing
 * ********************************************************************/

// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ********************************************************************
 * Body
 * ********************************************************************/

html, body {
  font-family: SansitaOneRegular;
  font-size: 18px;

  /* http://maximilianhoffmann.com/posts/better-font-rendering-on-osx */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $backgroundColor;
  color:  $textColor;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ********************************************************************
 * Modules
 * ********************************************************************/

@import 'balls';
@import 'screen';
@import 'screen-home';
@import 'screen-play';
@import 'screen-pause';
@import 'screen-scores';
@import 'screen-about';

/* ********************************************************************
 * Description for browsers lacking some support for SVG, flexbox, etc.
 * ********************************************************************/

#description {
  padding: 1em;

  h1 {
    font-size: 3em;
    text-align: center;
  }

  h2, p {
    font-family: sans-serif;
  }

  p.icon {
    text-align: center;
  }

  a:link, a:visited {
    color: #ccc;
  }

  a:hover, a:active {
    color: #fdd;
  }
}
