.DS_Store
node_modules/
docs/
deploy*.sh
build/
src/manifest.appcache
.sass-cache/
.tmp/
*.sublime-project
*.sublime-workspace
esviji_2.zip
src/css/styles.css
src/css/styles.css.map
src/manifest_ios.appcache
