@font-face {
    font-family: 'SansitaOneRegular';
    src: url('font/sansitaone-webfont.eot');
    src: url('font/sansitaone-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/sansitaone-webfont.woff') format('woff'),
         url('font/sansitaone-webfont.ttf') format('truetype'),
         url('font/sansitaone-webfont.svg#SansitaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
  font-family: SansitaOneRegular;
  font-size: 18px;
  color:  #fff;
  background-color: #999;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#boardGradient stop.begin {
  stop-color: #880077;
}

#boardGradient stop.end {
  stop-color: #550044;
}

#board {
  border: 0;
  width: 100%;
  height: 100%;
}

#topbarGradient stop.begin {
  stop-color: #99618B;
}

#topbarGradient stop.end {
  stop-color: #880077;
}

#title {
  font-family: SansitaOneRegular;
  font-size: 48px;
  text-anchor: end;
  fill: #fff;
}

#scoreLabel, #levelLabel, #livesLabel {
  text-anchor: end;
  fill: #CF83BC;
}

#score, #level, #lives {
  fill: #fff;
}

