body {
  background-color: #eee;
  margin: 0;
  padding: 0;
}

#board {
  width: 320px;
  height: 480px;
  position: absolute;
  left: 50%; 
  top: 50%;
  margin-top: -240px; /* moitié de la hauteur */
  margin-left: -160px; /* moitié de la largeur */
  background-color: #fff;
}