@font-face {
  font-family: "SansitaOneRegular";
  src: url("font/sansitaone-webfont.woff") format("woff"), url("font/sansitaone-webfont.svg#SansitaOneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: SansitaOneRegular;
  font-size: 18px;
  /* http://maximilianhoffmann.com/posts/better-font-rendering-on-osx */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ********************************************************************
 * Description for browsers lacking some support for SVG, flexbox, etc.
 * ********************************************************************/
#description {
  padding: 1em;
}
#description h1 {
  font-size: 3em;
  text-align: center;
}
#description h2, #description p {
  font-family: sans-serif;
}
#description p.icon {
  text-align: center;
}
#description a:link, #description a:visited {
  color: #ccc;
}
#description a:hover, #description a:active {
  color: #fdd;
}

/* ********************************************************************
 * For all screens
 * ********************************************************************/
section {
  max-width: 150vh;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section .controls {
  position: absolute;
  left: 0;
  bottom: 5vmin;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section .controls li {
  text-align: center;
  padding: 3vmin;
}
section .controls img {
  width: -webkit-calc(20vh - 25vw);
  width: calc(20vh - 25vw);
  height: auto;
}
@media (min-aspect-ratio: 9 / 24) {
  section .controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  section .controls img {
    width: 30vmin;
  }
}
@media (min-aspect-ratio: 13 / 24) {
  section .controls img {
    width: 18vmin;
  }
}

.ball1 {
  fill: #f39c12;
  stroke: #e67e22;
}

.ball2 {
  fill: #2ecc71;
  stroke: #27ae60;
}

.ball3 {
  fill: #3498db;
  stroke: #2980b9;
}

.ball4 {
  fill: #9b59b6;
  stroke: #8e44ad;
}

.ball5 {
  fill: #aa8866;
  stroke: #776655;
}

.ball6 {
  fill: #e74c3c;
  stroke: #c0392b;
}

/* ********************************************************************
 * Home screen
 * ********************************************************************/
section#home header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
section#home header h1 {
  font-size: 25vmin;
  text-align: center;
  margin: 3vmin 0;
}
section#home header .logo {
  display: block;
  width: 50vmin;
  height: auto;
  margin: 10vmin auto;
  padding: 0;
}
@media (min-aspect-ratio: 18 / 24) {
  section#home header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  section#home header h1 {
    font-size: 20vw;
  }
  section#home header .logo {
    width: 20vw;
    height: 20vw;
    margin: 3vw 0;
  }
  section#home .controls img {
    width: -webkit-calc(25vh - 5vw);
    width: calc(25vh - 5vw);
  }
}
@media (min-aspect-ratio: 24 / 24) {
  section#home .controls img {
    width: 20vh;
  }
}
@media (min-aspect-ratio: 36 / 24) {
  section#home header h1 {
    font-size: 30vh;
  }
  section#home header .logo {
    width: 30vh;
    height: auto;
    margin: 4.5vh 0;
  }
}
section#home .controls .play img {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* ********************************************************************
 * Play screen
 * ********************************************************************/
section#play {
  font-size: 15vmin;
  line-height: 1.5;
}
section#play h1, section#play ul, section#play .score, section#play .level, section#play .lives {
  margin: 0;
  padding: 0;
}
section#play h1 {
  font-size: 20vmin;
  color: #ccc;
  padding: 0 3vmin;
  height: 30vmin;
}
section#play .progress {
  position: absolute;
  top: 30vmin;
  left: 0;
  width: 100vw;
  height: -webkit-calc(100vh - 30vmin - 134.375vw);
  height: calc(100vh - 30vmin - 134.375vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section#play .progress .score {
  padding: 0 3vmin;
  font-size: 1.5em;
  text-align: center;
}
section#play .progress ul {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #ccc;
}
section#play .progress ul li {
  text-align: center;
}
section#play .progress ul span {
  color: #eee;
}
section#play .progress .icon {
  margin-right: 3vmin;
  width: .75em;
  height: .75em;
}
section#play .score, section#play .lives, section#play .level {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
section#play .score.changeDown, section#play .lives.changeDown, section#play .level.changeDown {
  color: #c0392b;
}
section#play .score.changeUp, section#play .lives.changeUp, section#play .level.changeUp {
  color: #27ae60;
}
section#play .controls {
  position: static;
}
section#play .controls .pause {
  position: absolute;
  top: 3vmin;
  bottom: auto;
  left: auto;
  right: 3vmin;
  width: 20vmin;
  height: 20vmin;
}
section#play .controls .pause img {
  width: 100%;
  height: 100%;
}
section#play svg#board {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 134.375vw;
}
section#play svg#board .playzone {
  stroke-width: 0;
  fill: #777;
}
section#play svg#board .ball text {
  font-size: 16px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
section#play svg#board #playable {
  pointer-events: none;
}
section#play svg#board #playable:hover {
  cursor: pointer;
}
section#play svg#board #spring {
  stroke-width: 2;
  stroke: #333;
  fill: none;
}
@media (min-aspect-ratio: 8 / 24) {
  section#play .progress ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-aspect-ratio: 11 / 24) {
  section#play {
    font-size: 10vmin;
  }
  section#play .progress ul {
    position: absolute;
    left: 3vmin;
    width: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (min-aspect-ratio: 13 / 24) {
  section#play {
    font-size: -webkit-calc(13 / 24 * 10vh - 2vw);
    font-size: calc(13 / 24 * 10vh - 2vw);
  }
  section#play .progress {
    position: absolute;
    left: 3vmin;
    height: auto;
    text-align: left;
  }
  section#play .progress .score {
    padding: 0;
    text-align: left;
  }
  section#play .progress ul {
    position: static;
    line-height: 1.2;
  }
  section#play .progress ul li {
    text-align: left;
  }
}
@media (min-aspect-ratio: 15 / 24) {
  section#play h1 {
    font-size: 12.5vh;
    height: 18.75vh;
  }
  section#play .progress {
    font-size: 6vw;
  }
  section#play .controls .pause {
    width: 12.5vh;
    height: 12.5vh;
  }
  section#play svg#board {
    width: 62.5vh;
    left: auto;
    right: 0;
  }
}
@media (min-aspect-ratio: 19 / 24) {
  section#play .progress {
    top: -webkit-calc(18.75vh + 3vmin);
    top: calc(18.75vh + 3vmin);
    width: -webkit-calc(100vw - 3vmin - 19 / 24 * 100vw);
    width: calc(100vw - 3vmin - 19 / 24 * 100vw);
  }
  section#play .progress ul {
    width: 100%;
  }
  section#play .progress ul li {
    text-align: center;
  }
  section#play .controls .pause {
    top: auto;
    left: 3vmin;
    right: auto;
    bottom: 3vmin;
  }
  section#play svg#board {
    width: 79.16667vw;
    max-width: 74.4186vh;
  }
}
@media (min-aspect-ratio: 24 / 24) {
  section#play .progress {
    width: -webkit-calc(100vw - 2 * 3vmin - 74.4186vh);
    width: calc(100vw - 2 * 3vmin - 74.4186vh);
    height: -webkit-calc(100vh - 18.75vh - 3 * 3vmin - 12.5vh);
    height: calc(100vh - 18.75vh - 3 * 3vmin - 12.5vh);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-orientation: column;
  }
  section#play .progress .score {
    text-align: center;
  }
}
@media (min-aspect-ratio: 36 / 24) {
  section#play {
    max-width: 150vh;
  }
  section#play .progress {
    width: -webkit-calc(150vh - 2 * 3vmin - 74.4186vh);
    width: calc(150vh - 2 * 3vmin - 74.4186vh);
    font-size: 9vh;
  }
}

/* ********************************************************************
 * Pause screen
 * ********************************************************************/
section#pause h1 {
  font-size: 25vmin;
}
section#pause h2 {
  font-size: 10vmin;
}
section#pause h1, section#pause h2 {
  text-align: center;
  margin: 3vmin 0;
}

/* ********************************************************************
 * Scores screen
 * ********************************************************************/
/* ********************************************************************
 * Settings screen
 * ********************************************************************/
/* ********************************************************************
 * Tutorial screen
 * ********************************************************************/
.ios .label.sound, .ios .button.prefsSound {
  display: none;
}
.ios #settingsButton {
  display: none;
}

#installButton {
  display: none;
}
