.toggle {
  position: relative;
}
.toggle input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.toggle input[type="checkbox"][disabled] ~ label {
  pointer-events: none;
}
.toggle input[type="checkbox"][disabled] ~ label .toggle__switch {
  opacity: 0.4;
}
.toggle input[type="checkbox"]:checked ~ label .toggle__switch:before {
  content: attr(data-unchecked);
  left: 0;
}
.toggle input[type="checkbox"]:checked ~ label .toggle__switch:after {
  content: attr(data-checked);
}
.toggle label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.toggle label .toggle__label-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 32px;
}
.toggle label .toggle__switch {
  position: relative;
}
.toggle label .toggle__switch:before {
  content: attr(data-checked);
  position: absolute;
  top: 0;
  text-transform: uppercase;
  text-align: center;
}
.toggle label .toggle__switch:after {
  content: attr(data-unchecked);
  position: absolute;
  z-index: 5;
  text-transform: uppercase;
  text-align: center;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.toggle input[type="checkbox"][disabled] ~ label {
  color: rgba(85, 85, 85, 0.5);
}
.toggle input[type="checkbox"]:focus ~ label .toggle__switch {
  background-color: #555;
}
.toggle input[type="checkbox"]:focus ~ label .toggle__switch:after {
  color: #3b3b3b;
}
.toggle input[type="checkbox"]:checked ~ label .toggle__switch {
  background-color: #40d47e;
}
.toggle input[type="checkbox"]:checked ~ label .toggle__switch:after {
  color: #29b765;
}
.toggle input[type="checkbox"]:checked:focus ~ label .toggle__switch {
  background-color: #2ecc71;
}
.toggle input[type="checkbox"]:checked:focus ~ label .toggle__switch:after {
  color: #25a25a;
}
.toggle label .toggle__label-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.toggle label .toggle__switch {
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  background: #626262;
}
.toggle label .toggle__switch:before {
  color: rgba(255, 255, 255, 0.7);
}
.toggle label .toggle__switch:after {
  color: #555;
}
.toggle input[type="checkbox"]:checked ~ label .toggle__switch:after {
  -webkit-transform: translate3d(3.3em, 0, 0);
  -ms-transform: translate3d(3.3em, 0, 0);
  transform: translate3d(3.3em, 0, 0);
}
.toggle label {
  font-size: 1em;
}
.toggle label .toggle__switch {
  height: 3.5em;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 7em;
  -ms-flex: 0 0 7em;
  flex: 0 0 7em;
  -webkit-border-radius: 3.5em;
  border-radius: 3.5em;
}
.toggle label .toggle__switch:before {
  left: 3.5em;
  font-size: 1em;
  line-height: 3.5em;
  width: 3.5em;
  padding: 0 12px;
}
.toggle label .toggle__switch:after {
  top: 0.2em;
  left: 0.2em;
  -webkit-border-radius: 1.75em;
  border-radius: 1.75em;
  width: 3.3em;
  line-height: 3.1em;
  font-size: 1em;
}

@font-face {
  font-family: "SansitaOneRegular";
  src: url("font/sansitaone-webfont.woff") format("woff"), url("font/sansitaone-webfont.svg#SansitaOneRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, body {
  font-family: SansitaOneRegular;
  font-size: 18px;
  /* http://maximilianhoffmann.com/posts/better-font-rendering-on-osx */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #444;
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* ********************************************************************
 * Description for browsers lacking some support for SVG, flexbox, etc.
 * ********************************************************************/
#description {
  padding: 1em;
}
#description h1 {
  font-size: 3em;
  text-align: center;
}
#description h2, #description p {
  font-family: sans-serif;
}
#description p.icon {
  text-align: center;
}
#description a:link, #description a:visited {
  color: #ccc;
}
#description a:hover, #description a:active {
  color: #fdd;
}

/* ********************************************************************
 * For all screens
 * ********************************************************************/
section {
  max-width: 150vh;
  margin: 0 auto;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section h2 {
  font-size: 10vmin;
  text-align: center;
  margin: 3vmin 0;
}
section .controls {
  position: absolute;
  left: 0;
  bottom: 5vmin;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: -webkit-calc(4vh - 5vw);
  font-size: calc(4vh - 5vw);
  line-height: 2;
}
section .controls li {
  text-align: center;
  width: 99vw;
  padding: 3vw;
}
section .controls li a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ccc;
  text-decoration: none;
}
section .controls li svg {
  width: -webkit-calc(15vh - 25vw);
  width: calc(15vh - 25vw);
  height: -webkit-calc(15vh - 25vw);
  height: calc(15vh - 25vw);
  max-width: 100px;
  max-height: 100px;
  margin: 0 auto;
}
@media (min-aspect-ratio: 7 / 24) {
  section .controls {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 8vw;
  }
  section .controls li {
    width: 49vw;
  }
  section .controls li svg {
    width: -webkit-calc(14vh - 10vw);
    width: calc(14vh - 10vw);
    height: -webkit-calc(14vh - 10vw);
    height: calc(14vh - 10vw);
  }
}
@media (min-aspect-ratio: 14 / 24) {
  section .controls {
    font-size: 5vw;
  }
  section .controls li {
    width: 24vw;
  }
  section .controls li svg {
    width: 18vw;
    height: 18vw;
  }
}
@media (min-aspect-ratio: 17 / 24) {
  section .controls li {
    width: 49vw;
  }
  section .controls li svg {
    width: 25vw;
    height: 25vw;
  }
}
@media (min-aspect-ratio: 20 / 24) {
  section .controls li {
    width: 24vw;
  }
  section .controls li svg {
    width: 18vw;
    height: 18vw;
  }
}
@media (min-aspect-ratio: 36 / 24) {
  section .controls {
    font-size: 7vh;
  }
  section .controls li {
    width: 37vh;
    padding: 3vh;
  }
  section .controls li svg {
    width: 25vh;
    height: 25vh;
  }
}

.ball1 {
  fill: #f39c12;
  stroke: #e67e22;
}

.ball2 {
  fill: #2ecc71;
  stroke: #27ae60;
}

.ball3 {
  fill: #3498db;
  stroke: #2980b9;
}

.ball4 {
  fill: #9b59b6;
  stroke: #8e44ad;
}

.ball5 {
  fill: #aa8866;
  stroke: #776655;
}

.ball6 {
  fill: #e74c3c;
  stroke: #c0392b;
}

/* ********************************************************************
 * Home screen
 * ********************************************************************/
section#home header {
  margin: 0;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
section#home header h1 {
  font-size: 25vmin;
  text-align: center;
  margin: 3vmin 0;
}
section#home header .logo {
  display: block;
  width: 45vmin;
  height: auto;
  margin: 10vmin auto;
  padding: 0;
}
@media (min-aspect-ratio: 17 / 24) {
  section#home header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  section#home header h1 {
    font-size: 20vw;
  }
  section#home header .logo {
    width: 20vw;
    height: 20vw;
    margin: 3vw 0;
  }
}
@media (min-aspect-ratio: 36 / 24) {
  section#home header h1 {
    font-size: 30vh;
  }
  section#home header .logo {
    width: 30vh;
    height: auto;
    margin: 4.5vh 0;
  }
}
section#home .controls .play img {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
/* ********************************************************************
 * Play screen
 * ********************************************************************/
section#play {
  font-size: 15vmin;
  line-height: 1.5;
}
section#play h1, section#play ul, section#play .score, section#play .level, section#play .lives {
  margin: 0;
  padding: 0;
}
section#play h1 {
  font-size: 20vmin;
  color: #ccc;
  padding: 0 3vmin;
  height: 30vmin;
}
section#play .progress {
  position: absolute;
  top: 30vmin;
  left: 0;
  width: 100vw;
  height: -webkit-calc(100vh - 30vmin - 134.375vw);
  height: calc(100vh - 30vmin - 134.375vw);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
section#play .progress .score {
  padding: 0 3vmin;
  font-size: 1.5em;
  text-align: center;
}
section#play .progress ul {
  width: 100%;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #ccc;
}
section#play .progress ul li {
  text-align: center;
}
section#play .progress ul span {
  color: #eee;
}
section#play .progress .icon {
  margin-right: 3vmin;
  width: .75em;
  height: .75em;
}
section#play .score, section#play .lives, section#play .level {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
section#play .score.changeDown, section#play .lives.changeDown, section#play .level.changeDown {
  color: #c0392b;
}
section#play .score.changeUp, section#play .lives.changeUp, section#play .level.changeUp {
  color: #27ae60;
}
section#play .controls {
  position: static;
}
section#play .controls .pause {
  position: absolute;
  top: 3vmin;
  bottom: auto;
  left: auto;
  right: 3vmin;
  width: 20vmin;
  height: 20vmin;
}
section#play .controls .pause svg {
  width: 100%;
  height: 100%;
}
section#play svg#board {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 134.375vw;
  pointer-events: none;
}
section#play svg#board path {
  pointer-events: visibleFill;
}
section#play svg#board .playzone {
  stroke-width: 0;
  fill: #777;
}
section#play svg#board .ball text {
  font-size: 16px;
  text-anchor: middle;
  fill: #fff;
  stroke-width: 0;
}
section#play svg#board #playable {
  pointer-events: none;
}
section#play svg#board #playable:hover {
  cursor: pointer;
}
section#play svg#board #spring {
  stroke-width: 2;
  stroke: #333;
  fill: none;
}
@media (min-aspect-ratio: 8 / 24) {
  section#play .progress ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-aspect-ratio: 11 / 24) {
  section#play {
    font-size: 10vmin;
  }
  section#play .progress ul {
    position: absolute;
    left: 3vmin;
    width: 25vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  section#play .progress ul li {
    text-align: left;
  }
}
@media (min-aspect-ratio: 13 / 24) {
  section#play {
    font-size: -webkit-calc(13 / 24 * 10vh - 2vw);
    font-size: calc(13 / 24 * 10vh - 2vw);
  }
  section#play .progress {
    position: absolute;
    left: 3vmin;
    height: auto;
  }
  section#play .progress .score {
    padding: 0;
    text-align: left;
  }
  section#play .progress ul {
    position: static;
    line-height: 1.2;
  }
  section#play .progress ul li {
    text-align: left;
  }
}
@media (min-aspect-ratio: 15 / 24) {
  section#play h1 {
    font-size: 12.5vh;
    height: 18.75vh;
  }
  section#play .progress {
    font-size: 6vw;
  }
  section#play .controls .pause {
    width: 12.5vh;
    height: 12.5vh;
  }
  section#play svg#board {
    width: 62.5vh;
    left: auto;
    right: 0;
  }
}
@media (min-aspect-ratio: 19 / 24) {
  section#play .progress {
    top: -webkit-calc(18.75vh + 3vmin);
    top: calc(18.75vh + 3vmin);
    width: -webkit-calc(100vw - 3vmin - 19 / 24 * 100vw);
    width: calc(100vw - 3vmin - 19 / 24 * 100vw);
  }
  section#play .progress ul {
    width: 100%;
  }
  section#play .controls .pause {
    top: auto;
    left: 3vmin;
    right: auto;
    bottom: 3vmin;
  }
  section#play svg#board {
    width: 79.16667vw;
    max-width: 74.4186vh;
  }
}
@media (min-aspect-ratio: 24 / 24) {
  section#play .progress {
    width: -webkit-calc(100vw - 2 * 3vmin - 74.4186vh);
    width: calc(100vw - 2 * 3vmin - 74.4186vh);
    height: -webkit-calc(100vh - 18.75vh - 3 * 3vmin - 12.5vh);
    height: calc(100vh - 18.75vh - 3 * 3vmin - 12.5vh);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-orientation: column;
  }
  section#play .progress ul li {
    text-align: center;
  }
  section#play .progress .score {
    text-align: center;
  }
}
@media (min-aspect-ratio: 36 / 24) {
  section#play {
    max-width: 150vh;
  }
  section#play .progress {
    width: -webkit-calc(150vh - 2 * 3vmin - 74.4186vh);
    width: calc(150vh - 2 * 3vmin - 74.4186vh);
    font-size: 9vh;
  }
}

/* ********************************************************************
 * Pause screen
 * ********************************************************************/
/* ********************************************************************
 * Scores screen
 * ********************************************************************/
/* ********************************************************************
 * Settings screen
 * ********************************************************************/
section#settings fieldset {
  border: 0;
  margin: 1em 0 0;
}
section#settings legend, section#settings ul, section#settings button {
  font-size: 10vmin;
}
section#settings ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
  margin-top: .5em;
}
section#settings .installation {
  display: none;
  text-align: center;
}
section#settings .installation a {
  display: block;
  font-size: 1em;
  line-height: 3.1em;
  -webkit-border-radius: 3.1em;
  border-radius: 3.1em;
  background-color: #2ecc71;
  color: #fff;
  padding: .3em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-aspect-ratio: 10 / 24) {
  section#settings legend, section#settings ul, section#settings button {
    font-size: 8vmin;
  }
}
@media (min-aspect-ratio: 12 / 24) {
  section#settings li {
    display: inline;
    margin-right: 1em;
  }
}
@media (min-aspect-ratio: 15 / 24) {
  section#settings legend, section#settings ul, section#settings button {
    font-size: 7vmin;
  }
  section#settings legend {
    clear: both;
    float: left;
  }
  section#settings ul {
    margin: 0;
    float: right;
  }
}

.ios .label.sound, .ios .button.prefsSound {
  display: none;
}

/* ********************************************************************
 * Tutorial screen
 * ********************************************************************/

/*# sourceMappingURL=styles.css.map */