AddType image/svg+xml                         svg
AddType application/x-web-app-manifest+json   webapp
AddType audio/mpeg                            mp3
AddType application/ogg                       ogg
AddType application/font-woff                 woff
AddType application/font-woff2                woff2

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 year"
	ExpiresByType text/cache-manifest "access plus 1 seconds"
</IfModule>
FileETag None

# RewriteEngine On
# RewriteRule ^(play|pause|scores|about)$ / [R=301,L]
