AddType image/svg+xml svg
AddType text/cache-manifest appcache
AddType application/x-web-app-manifest+json webapp
AddType audio/mpeg mp3
AddType application/ogg ogg

# http://www.w3.org/TR/WOFF/#appendix-b
AddType application/font-woff woff

<IfModule mod_expires.c>
  ExpiresActive On
  #ExpiresDefault "access plus 1 year"
  ExpiresDefault "access plus 10 seconds"
	ExpiresByType text/cache-manifest "access plus 1 seconds"
</IfModule>
FileETag None

RewriteEngine On
