<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.esviji.app" version="%VERSION%">
  <name>esviji</name>
  <description>%TITLE%</description>
  <author href="http://nicolas-hoizey.com" email="nicolas@hoizey.com">Nicolas Hoizey</author>

  <content src="index.html?utm_source=native_app" />
  <access origin="*" />

  <platform name="android">
    <allow-intent href="market:*" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
  </platform>

  <preference name="Fullscreen" value="true" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="BackgroundColor" value="0xff444444"/>
  <preference name="Orientation" value="default" />

  <preference name="permissions" value="none"/>
  <preference name="target-device" value="universal"/>
  <preference name="deployment-target" value="8.0" />
  <preference name="SuppressesLongPressGesture" value="true" />
  <preference name="Suppresses3DTouchGesture" value="true" />
  
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>

  <gap:plugin name="org.apache.cordova.inappbrowser"/>

  <icon src="apple-touch-icon-180x180.png" width="180" height="180" />
  <plugin name="cordova-plugin-whitelist" version="1"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
</widget>
